.header {
    background-color: #a32c2c;
    height: auto;
    width: auto;
    padding-bottom: 30px;
}

.tittle {
    background-color: white;
    height: 150px;
    width: 150px;
}

.verseOne {
    background-color: #0404fb;
    padding-bottom: 60px;
}

.verseTwo {
    background-color: #050404;
}

h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #3ad2df;
}

p {
    color: white;
}